{% extends "polls/base.html" %}

{% load static %}

{% block content %}

<body class="landing is-preload">

<div id="page-wrapper">
  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="/">Rolling Adventure</a> by PT InForm</h1>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" class="icon solid fa-angle-down">Über uns</a>
          <ul>
            <li><a href="/joelette/">Die Joelette</a></li>
            <li><a href="/ueber_uns/">Unsere Geschichte</a></li>
            <li><a href="/ueber_uns">Die Gründer</a></li>
          </ul>
        </li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Kontakt</a></li>
        <li><a href="/contact/" class="button">Joelette mieten</a></li>
      </ul>
    </nav>
  </header>

<!-- Banner -->
  <section id="banner">
    <h2>Rolling Adventure</h2>
    <p>Erlebnisse & Freiheit trotz Handicap </p>
    <ul class="actions special">
      <!--<li><a href="/contact/" class="button primary">Miete die Joelette</a></li>-->
      <li><a href="/contact/" class="button">Miete die Joelette</a></li>
      <li><a href="/newsletter/" class="button">Zum Newsletter anmelden</a></li>
    </ul>
  </section>

  <!-- Main -->
  <section id="main" class="container">
    <section class="box special">
      <header class="major">
        <h2>Der Wanderrollstuhl Joelette für jeden zu mieten</h2>
        <p>Wir stehen dir mit Rat und Tat zur Seite. Du bestimmst den Preis.</p>
      </header>
      <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-13.jpg' %}" alt="">
      </span>
    </section>

    <section class = "box">
      <div class="features-row">
        <header class="major"><h2>Mach das Unmögliche möglich</h2></header>
        <h4>Es gibt sie noch: Echte Abenteuer. Erfahrungen die das Leben interessant und lebenswert machen. Erlebnisse, die dich die Magie der Natur spüren lassen. Wagnisse die dich dem wichtigsten Teil deines Lebens näher bringen – dir selbst. Momente, die dich frei fühlen lassen, selbst wenn du dich oft in deinem Körper gefangen gefühlt hast und das für dich bisher unmöglich schien. Klingt zu schön um wahr zu sein? Nicht für uns.
        <!--<p></p>-->
        </h4>  
      </div>
    </section>

    <!--<section class="box special features">  
    <section id="cta">
      <header>
      <h2>4 Gründe die <a href="/joelette/" style="color:#298A08; text-decoration:none;">Joellete</a> zu mieten</h2>
      <p>A generic page for every non-generic situation.</p>
      </header>

      <div class="features-row">
        <section>
          <span class="icon solid major fa-bolt accent2"></span>
          <h3>Abenteuer als Therapie</h3>
          <p>Das gemeinsame Erleben wiederum stabilisiert das soziale Wohlbefinden und stärkt dann natürlich noch unsere psychische Gesundheit.</p>
        </section>
        <section>
          <span class="icon solid major fa-chart-area accent3"></span>
          <h3>Freiheit beginnt im Kopf </h3>
          <p></p>
        </section>
      </div>

      <div class="features-row">
        <section>
          <span class="icon solid major fa-cloud accent4"></span>
          <h3>Geschichten für ein ganzes Leben</h3>
          <p></p>
        </section>
        <section>
          <span class="icon solid major fa-lock accent5"></span>
          <h3>Alltag mit Freunden und Familie</h3>
          <p></p>
        </section>
      </div>
    </section>
    -->

    <div class="row">
      <div class="col-6 col-12-narrower">
        <section class="box special">
          <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-103.jpg' %}" alt="" /></span>
          <h3><a href="/gruende/">Die 4 Gründe die Joelette zu mieten</a></h3>
          <p></p>
          <!--<ul class="actions special">
            <li><a href="#" class="button alt">Mehr</a></li>-->
          </ul>
        </section>
      </div>

      <div class="col-6 col-12-narrower">
        <section class="box special">
          <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-194.jpg' %}" alt="" /></span>
          <h3><a href="/joelette/">Was ist die Joelette?</a><br></br></h3>
          <p></p>
          <!--<ul class="actions special">
            <li><a href="#" class="button alt">Mehr</a></li>
          </ul>-->
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-12-narrower">
        <section class="box special">
          <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-68.jpg' %}" alt="" /></span>
          <h3><a href="/blog/">Unsere Abenteuer</a></h3>
          <p></p>
          <!--<ul class="actions special">
            <li><a href="#" class="button alt">Mehr</a></li>
          </ul>-->
        </section>
      </div>

      <div class="col-6 col-12-narrower">
        <section class="box special">
          <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-17.jpg' %}" alt="" /></span>
          <h3><a href="/fragen/">Häufige Fragen</a></h3>
          <p></p>
          <!--<ul class="actions special">
            <li><a href="#" class="button alt">Mehr</a></li>
          </ul>-->
        </section>
      </div>
    </div>
  </section>
</div>

<!-- CTA -->
<div id="page-wrapper">
  <section id="cta">
    <h2>Wir freuen uns über deine Nachricht</h2>
   <!-- <p>Wir freuen uns, von dir zu hören.</p>-->
    <form>
      <a href="/contact/" class="button">Kontakt</a>
      <!--<div class="row gtr-50 gtr-uniform">
        <div class="col-8 col-12-mobilep">
          <input type="email" name="email" id="email" placeholder="Email Addresse" />
        </div>
        
        <div class="col-4 col-12-mobilep">
          <input type="submit" value="Anmelden" class="fit" />
        </div>
      </div>-->
    </form>
  </section>

{% endblock %}
