{% extends "polls/base.html" %}

{% load static %}

{% block content %}

<!-- Header -->
<header id="header">
  <h1><a href="/">Rolling Adventure</a> by PT InForm</h1>
  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#" class="icon solid fa-angle-down">Über uns</a>
        <ul>
          <li><a href="/joelette/">Die Joelette</a></li>
          <li><a href="/ueber_uns/">Unsere Geschichte</a></li>
          <li><a href="/ueber_uns">Die Gründer</a></li>
        </ul>
      </li>  
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact/">Kontakt</a></li>
      <li><a href="/contact/" class="button">Joelette mieten</a></li>
    </ul>
  </nav>
</header>

<body class="is-preload">
  <div id="page-wrapper">

<!-- Main -->
    <section id="main" class="container">
    	<!--<header>
    		<h2>Die Joelette</h2>
    		<p>A generic page for every non-generic situation.</p>
    	</header>-->
    	<div class="box">
    		<span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-32.jpg' %}" alt="" /></span>
    		<h3>Die Joelette</h3>
    		<p></p>
    		<div class="row">
    			<div class="row-6 row-12-mobilep">
    				<p>Wir stehen noch ganz am Anfang unserer Reise, Abenteuer für jeden zu ermöglichen, aber jetzt schon können wir dir das wohl wichtigste Instrument zur Verfügung stellen, welches du für eine ausgefallene Unternehmung benötigst: Joelette. Das ist ein sehr spezieller Wander- und Treckingrollstuhl. In der Anschaffung leider sehr teuer aber wir vermieten bzw. verleihen unseren zu einem sehr fairen Preis. Wir haben schon so einiges mit unserer Joelette erlebt und möchten nun auch dir die Möglichkeit eröffnen, selbiges zu tun. Natürlich bekommen du und deine Begleiter gerne eine Einweisung von uns. Wir geben euch Tourentipps, sowie Ratschläge und Hinweise bei der Nutzung.  
    				<p>Dabei spielt es keine Rolle, ob ihr eine Bergtour, über einen Tag oder mehrere Tage machen wollt. Es muss auch nicht gleich eine Bergtour sein. Du möchtest lieber über Felder oder durch Wälder spazieren? Oder Wunderschöne Landschaften abseits geteerter Straßen entdecken? Oder doch mal an einem Marathon teilhaben? Die Joelette eignet sich hervorragend für fast jede Art von Wanderung, sportliche Unternehmung und Abenteuern in der Natur.</p>
    				<p>Dabei sie sehr leicht zu Transportieren. Die Joellete passt – auseinandergebaut – in fast jedes Auto. Selbst in Felixs Opel Corsa geht sie problemlos rein. Das Zusammenbauen dauert ca. 5 Minuten und sobald wir euch gezeigt haben wie es geht, funktioniert es superleicht. Alle benötigten Werkzeuge und Anleitung bekommt ihr von uns gestellt. Wenn du uns vorab mitteilst, was du vorhast und wie schwer die geschobene Person ist, werden wir gleich den Reifendruck und Federung richtig einstellen.</p> 
    				<p>Wir selbst haben Abenteuer erlebt, obwohl viele die Durchführung für unmöglich gehalten haben. Nun möchten wir auch dich dazu ermutigen für kurze Zeit einen Teil deiner Kontrolle abzugeben, dich - im wahrsten Sinne – tragen zu lassen und gleichzeitig eine der aufregendsten und schönsten Zeiten in deinem Leben zu erleben.</p>
    				<p>Egal ob du im Rollstuhl sitzt, ob du eine Gehbehinderung hast oder eine Krankheit, die dich in der Mobilität einschränkt, mit unserer Hilfe ist kein Hindernis mehr unpassierbar, kein Weg zu weit, kein Berg zu hoch.</p>
    				<p>Worauf wartest du noch? Schreib uns eine Nachricht, miete den Rollstuhl und let the adventure begin!	
    				</p>
    			</div>
    		</div>
    	</div>

    	<div class="row">
        <div class="col-6 col-12-narrower">
          <section class="box special">
            <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-103.jpg' %}" alt="" /></span>
            <h3><a href="/gruende/">Die 4 Gründe die Joelette zu mieten</a></h3>
            <p></p>
            <!--<ul class="actions special">
              <li><a href="#" class="button alt">Mehr</a></li>-->
            </ul>
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section class="box special">
            <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-194.jpg' %}" alt="" /></span>
            <h3><a href="/joelette/">Was ist die Joelette?</a><br></br></h3>
            <p></p>
            <!--<ul class="actions special">
              <li><a href="#" class="button alt">Mehr</a></li>
            </ul>-->
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-12-narrower">
          <section class="box special">
            <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-68.jpg' %}" alt="" /></span>
            <h3><a href="/blog/">Unsere Abenteuer</a></h3>
            <p></p>
            <!--<ul class="actions special">
              <li><a href="#" class="button alt">Mehr</a></li>
            </ul>-->
          </section>
        </div>

        <div class="col-6 col-12-narrower">
          <section class="box special">
            <span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-17.jpg' %}" alt="" /></span>
            <h3><a href="/fragen/">Häufige Fragen</a></h3>
            <p></p>
            <!--<ul class="actions special">
              <li><a href="#" class="button alt">Mehr</a></li>
            </ul>-->
          </section>
        </div>

      </div>

    </section>

{% endblock %}
