{% extends "polls/base.html" %}

{% load static %}

{% block content %}

<!-- Header -->
<header id="header">
<h1><a href="/">Rolling Adventure</a> by PT InForm</h1>
<nav id="nav">
  <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#" class="icon solid fa-angle-down">Über uns</a>
          <ul>
            <li><a href="/joelette/">Die Joelette</a></li>
            <li><a href="/ueber_uns/">Unsere Geschichte</a></li>
            <li><a href="/ueber_uns">Die Gründer</a></li>
          </ul>
        </li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Kontakt</a></li>
        <li><a href="/contact/" class="button">Joelette mieten</a></li>
      </ul>
</nav>
</header>

<body class="is-preload">
<div id="page-wrapper">

<!-- Main -->
<section id="main" class="container">
  <header>
    <h2>{{entry.title}}</h2>
    <!--<p>A generic page for every non-generic situation.</p>-->
  </header>
  <div class="box">
    <span class="image featured"><img src="/pictures/{{entry.image}}" alt="" /></span>
    <!--{% static "" as baseUrl %}
    <span class="image featured"><img src="{{ baseUrl }}/pictures/{{entry.image}}" alt="" /></span>-->
    <!--<span class="image featured"><img src="{% static 'assets/images/MarkusFruehmann_Sari_Dolorama-238-2.jpg]]' %}" alt="" /></span>-->
    <h3>{{entry.summary}}</h3>
    <p>{{entry.text1}}</p>
    <span class="image featured"><img src="/pictures/{{entry.picture1}}" alt="" /></span>
    {{entry.text2}}
    <span class="image featured"><img src="/pictures/{{entry.picture2}}" alt="" /></span>
    {{entry.text3}}
    <span class="image featured"><img src="/pictures/{{entry.picture3}}" alt="" /></span>
    {{entry.text4}}
    <span class="image featured"><img src="/pictures/{{entry.picture4}}" alt="" /></span>
      <ul class="actions">
        <li><a href="/blog/" class="button fit">Zurück zur Übersicht</a></li>
        <li><a href="#" class="button alt icon solid fa-check">Like</a></li>
      </ul>
  </p>
  </div>
</section>

{% endblock %}

